html,
body,
main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;

    li:not(:last-child) {
        margin-bottom: 10px;
    }
}